body {
    background-color: #dad3c1;
    font-family: sans-serif, Cambria;
}

.banner {
    align-items: center;
    text-align: center;
    font-weight: bolder;
}
.content{display: float;}


.content div {
    border: 2px solid black;
    margin: 3.5px;
    padding: 20px;
}

.menu {
}

.main {
}

.aside {
    display: flex;
    flex-direction: column;
}
.imgcontainer{
    align-items: center;
    border: 0px;
}
.imgcontainer p{
    text-align: center;
    font-family: sans-serif, Cambria;
}
.image{
    margin: 2px;
    padding: 1%;
}

/* ********************* */
/* Responsive Web Design */
/* ********************* */

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .banner {width: 100%;}
    .menu {width: 20%;}
    .main {width: 80%;}
    .aside {width: 100%;}
    .footer {width: 100%;}
    .content{display: flex;}
}

@media only screen and (min-width: 768px) {
    .banner {width: 100%;}
    .menu {width: 20%;}
    .main {width: 65%;}
    .aside {width: 15%;}
    .footer {width: 100%;}
    .content{display: flex;}
}
