body {
    background-color: #dad3c1;
    font-family: sans-serif, Cambria;
}

.banner {
    align-items: center;
    text-align: center;
    font-weight: bolder;
}
.content{display: float;}


.content div {
    border: 2px solid black;
    margin: 3.5px;
    padding: 20px;
}

.menu {
}

.main {
}

.aside {
}

/* Responsive Web Design */

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    .banner {width: 100%;}
    .menu {width: 25%;}
    .main {width: 75%;}
    .aside {width: 100%;}
    .footer {width: 100%;}
    .content{display: flex;}
}

@media only screen and (min-width: 768px) {
    .banner {width: 100%;}
    .menu {width: 25%;}
    .main {width: 50%;}
    .aside {width: 25%;}
    .footer {width: 100%;}
    .content{display: flex;}
}
